/* Inspired from
 - https://vobecant.github.io/
 -
*/

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  
  /* Everything but the jumbotron gets side spacing for mobile first views */
  .header,
  .row,
  .footer {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
  }
  
  /* Custom page header */
  .header {
    border-bottom: 1px solid #e5e5e5;
  }
  
  /* Make the masthead heading the same height as the navigation */
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
  }
  
  /* Custom page footer */
  .footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
  }
  
  .container-narrow > hr {
    margin: 20px 0;
  }
  
  /* Main marketing message and sign up button */
  .container .jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
    padding-left: 20px;
    padding: 30px;
  }
  
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
  }
  
  .row p + h3 {
    margin-top: 28px;
  }
  
  div.row h3 {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
  
  .row-margin{
    margin-top: 30px;
    margin-bottom: 30px
  }
  
  .readme h1 {
    display: none;
  }
  
  .vcenter {
      display: inline-block;
      vertical-align: middle;
      float: none;
  }
  
  h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1, h3custom, .h3custom {
    margin-top: 0;
    margin-bottom: 0.5rem;
    font-weight: 600;
    line-height: 1.2;
    color: #343a40;
  }
  
  
  /* Make the masthead heading the same height as the navigation */
  h3custom, .h3custom {
      border: none;
      margin-bottom: 0rem;
      /*font-size: 1.5em;*/
  }
  
  
  h1, .h1 {
    font-size: calc(1.725rem + 3.7vw);
  }
  
  
  a {
      color: #2a6496;
      text-decoration: none;
      /* color: #428bca; */
  }
  
  a:hover, a:focus {
      text-decoration: underline;
  }
  
  /* font-weight: bold; */
  .btn-primary {
      /* color: #2a6496; */
  }
  
  /* 0d6efd */
  .btn-primary {
      --bs-btn-color: #fff;
      --bs-btn-bg: #2a6496;
      --bs-btn-border-color: #2a6496;
      --bs-btn-hover-color: #fff;
      --bs-btn-hover-bg: #0b5ed7;
      --bs-btn-hover-border-color: #0a58ca;
      --bs-btn-focus-shadow-rgb: 49,132,253;
      --bs-btn-active-color: #fff;
      --bs-btn-active-bg: #0a58ca;
      --bs-btn-active-border-color: #0a53be;
      --bs-btn-active-shadow: inset 0 3px 5pxrgba(0, 0, 0, 0.125);
      --bs-btn-disabled-color: #fff;
      --bs-btn-disabled-bg: #2a6496;
      --bs-btn-disabled-border-color: #2a6496;
  }
  
  
  :root {
      --bs-primary-rgb: 42, 100, 150;
  }
  
  /* Badges spécifiques pour chaque année */

/* Badge pour 2024 */
.badge-2024 {
  background-color: #7141e27b; /* Bleu par défaut */
  color: #fff;
}

span.badge.badge-2024 {
  background-color: #7141e27b !important;
  color: #fff;
}

/* Badge pour 2023 */
.badge-2023 {
  background-color: #844b96; /* Vert */
  color: #fff;
}

span.badge.badge-2023 {
  background-color: #844b96 !important;
  color: #fff;
}

/* Badge pour 2022 */
.badge-2022 {
  background-color: #d56398; /* Jaune */
  color: #fff;
}

span.badge.badge-2022 {
  background-color: #d56398 !important;
  color: #fff;
}

/* Badge pour 2021 */
.badge-2021 {
  background-color: #3546dc; /* Rouge */
  color: #fff;
}

span.badge.badge-2021 {
  background-color: #3546dc !important;
  color: #fff;
}

/* Badge pour 2020 */
.badge-2020 {
  background-color: #d6878f; /* Rouge */
  color: #fff;
}

span.badge.badge-2020 {
  background-color: #d6878f !important;
  color: #fff;
}


/* Badge pour 2019 */
.badge-2019 {
  background-color: #358edc; /* Rouge */
  color: #fff;
}

span.badge.badge-2019 {
  background-color: #358edc !important;
  color: #fff;
}
